{% extends 'base.html.twig' %}

{% block title %}Liste des matières{% endblock %}

{% block content %}
    <h1>Liste des matières</h1>

    {% if matieres is not empty %}
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Matière</th>
                        <th>Total des heures</th>
                        <th>Heures passées</th>
                        <th>Notes</th>
                        <th>Professeurs</th>
                    </tr>
                </thead>
                <tbody>
                    {% for matiere in matieres %}
                        {% set totalMinutes = 0 %}
                        {% set passedMinutes = 0 %}
                        {% set teachers = [] %}
                        {% for event in matiere.event %}
                            {% set totalMinutes = totalMinutes + event.duration %}
                            {% if event.end < date() %}
                                {% set passedMinutes = passedMinutes + event.duration %}
                            {% endif %}
                            {% if event.teacher not in teachers %}
                                {% set teachers = teachers|merge([event.teacher]) %}
                            {% endif %}
                        {% endfor %}
                        {% set totalHours = totalMinutes // 60 %}
                        {% set totalMinutes = totalMinutes % 60 %}
                        {% set passedHours = passedMinutes // 60 %}
                        {% set passedMinutes = passedMinutes % 60 %}
                        <tr>
                            <td>{{ matiere.name }}</td>
                            <td>{{ totalHours }}h {{ totalMinutes }}min</td>
                            <td>{{ passedHours }}h {{ passedMinutes }}min</td>
                            <td>
                                {% for note in matiere.notes %}
                                    {{ note.note }}
                                    {% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {% for teacher in teachers %}
                                    {{ teacher }}
                                    {% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}


                </tbody>
            </table>
        </div>
    {% else %}
        <p>Aucune matière trouvée.</p>
    {% endif %}
{% endblock %}
