<div class="col-xl-4">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title mb-0">{{ user.name }}</h3>
            <p class="">
            {% if user is not same as app.user %}
                {% if user.online == 1 %}
                    <span class="bi bi-circle-fill chat-online"></span> Connecté
                {% else %}
                    <span class="bi bi-circle-fill chat-offline"></span> Déconnecté
                {% endif %}
            {% endif %}
            </p>
        </div>
        <div class="card-body">
            <div class="row g-0">
                <div class="col-sm-3 col-xl-12 col-xxl-3 text-center">
                    <img src="{{ asset('/uploads/profile_pics/' ~ user.thumbnail)|imagine_filter('thumbnail') }}" width="64" height="64" class="rounded-circle mt-2" alt="Angelica Ramos">
                </div>
                <div class="col-sm-9 col-xl-12 col-xxl-9">
                    <strong>Description</strong>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>

            <table class="table table-sm my-2">
                <tbody>
                <tr>
                    <th>Nom</th>
                    <td>{{ user.lastname }}</td>
                </tr>
                <tr>
                    <th>Prénom</th>
                    <td>{{ user.firstname }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>Téléphone</th>
                    <td>{{ user.telephone }}</td>
                </tr>
                <tr>
                    <th>Matières</th>
                    <td><span class="badge bg-success">{% set uniqueMatieres = [] %}
                                                    {% for event in user.eventsteacher %}
                                                        {% set matiere = event.matieres %}
                                                        {% if matiere is not null and matiere not in uniqueMatieres %}
                                                            {% set uniqueMatieres = uniqueMatieres|merge([matiere]) %}
                                                        {% endif %} 
                                                    {% endfor %}
                                                    {% for matiere in uniqueMatieres %}
                                                        {{ matiere }} {% if not loop.last %},{% endif %}
                                                    {% endfor %}</span></td>
                </tr>
                </tbody>
            </table>

            <hr>

            {# <strong>Activité</strong>

            <ul class="timeline mt-2 mb-0">
                <li class="timeline-item">
                    <strong>Signed out</strong>
                    <span class="float-end text-muted text-sm">30m ago</span>
                    <p>Nam pretium turpis et arcu. Duis arcu tortor, suscipit...</p>
                </li>
                <li class="timeline-item">
                    <strong>Created invoice #1204</strong>
                    <span class="float-end text-muted text-sm">2h ago</span>
                    <p>Sed aliquam ultrices mauris. Integer ante arcu...</p>
                </li>
                <li class="timeline-item">
                    <strong>Discarded invoice #1147</strong>
                    <span class="float-end text-muted text-sm">3h ago</span>
                    <p>Nam pretium turpis et arcu. Duis arcu tortor, suscipit...</p>
                </li>
                <li class="timeline-item">
                    <strong>Signed in</strong>
                    <span class="float-end text-muted text-sm">3h ago</span>
                    <p>Curabitur ligula sapien, tincidunt non, euismod vitae...</p>
                </li>
                <li class="timeline-item">
                    <strong>Signed up</strong>
                    <span class="float-end text-muted text-sm">2d ago</span>
                    <p>Sed aliquam ultrices mauris. Integer ante arcu...</p>
                </li>
            </ul> #}

        </div>
    </div>
</div>