{{ form_start(form) }}

<div class="container mt-5">
    <div class="row mb-3">
        <div class="col">
            {{ form_row(form.matieres) }}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            {{ form_row(form.start) }}
        </div>
        <div class="col">
            {{ form_row(form.duration) }}
        </div>
        <div class="col">
            {{ form_row(form.teacher) }}
        </div>
    </div>

        <div class="row mb-3">
        <div class="col">
            {{ form_row(form.recurrence, {'attr': {'class': 'custom-select'}}) }}
        </div>
    </div>

    <div id="recurrence-fields">
        <div class="row mb-3">
            <div class="col">
                {{ form_row(form.recurrenceFrequency) }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                {{ form_row(form.recurrenceEnd) }}
            </div>
        </div>
    </div>


    <div class="row mb-3">
        <div class="col">
            <label for="{{ form.zoomswitch.vars.id }}">Cours en visio ou non</label>
        </div>
    </div>
    
    <div class="row mb-3">
        <div class="col">
            <div class="custom-switch">
            {% if app.request.attributes.get('_route') == 'agenda_edit_event' %}
                {{ form_widget(form.zoomswitch, {'attr': {'checked': event.zoomlink is not null}}) }}
            {% else %}
                {{ form_widget(form.zoomswitch) }}
            {% endif %}
            {{ form_label(form.zoomswitch) }}
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            {{ form_row(form.materials) }}
        </div>
        <div class="col">
            {{ form_row(form.room) }}
        </div>
        {{ form_row(form.zoomlink) }}
    </div>

    <div class="row mb-3">
        <div class="col">
            {{ form_row(form.programme) }}
        </div>
        <div class="col">
            {{ form_row(form.lecons) }}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <label for="{{ form.studentswitch.vars.id }}">Sélectionner le ou les élèves concerné(s)</label>
        </div>
    </div>
    
    <div class="row mb-3">
        <div class="col">
            <div class="custom-switch">
            {% if app.request.attributes.get('_route') == 'agenda_edit_event' %}
                {{ form_widget(form.studentswitch, {'attr': {'checked': event.students is not empty}}) }}
            {% else %}
                {{ form_widget(form.studentswitch) }}
            {% endif %}
            {{ form_label(form.studentswitch) }}
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            {{ form_row(form.studentClass) }}
            {{ form_row(form.students) }}
        </div>
    </div>

    {% if form.comment is defined %}
        <div class="row mb-3">
            <div class="col">
                {{ form_row(form.comment) }}
            </div>
        </div>
    {% endif %}

    {% if form.objectif is defined %}
        <div class="row mb-3">
            <div class="col">
                {{ form_row(form.objectif) }}
            </div>
        </div>
    {% endif %}

        {% if form.modificationScope is defined %}
        <div class="row mb-3">
            <div class="col">
                {{ form_row(form.modificationScope) }}
            </div>
        </div>
    {% endif %}


    <div class="row">
        <div class="col">
            <button class="btn btn-primary">{{ button_label|default('Sauvegarder') }}</button>
        </div>
    </div>
</div>

{{ form_row(form.reservedRooms, {'attr': {'style': 'display: none;'}}) }}


{{ form_end(form) }}
