{{ form_start(form) }}

<div class="container mt-5">
    <div class="row mb-3">
        <div class="col">
            {{ form_row(form.matieres) }}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            {{ form_row(form.start) }}
        </div>
        <div class="col">
            {{ form_row(form.duration) }}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            {{ form_row(form.teacher) }}
        </div>
        <div class="col">
            {{ form_row(form.materials) }}
        </div>
        <div class="col">
            {{ form_row(form.room) }}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <label for="{{ form.switch.vars.id }}">Activer pour choisir une liste d'élèves. Désactiver pour choisir une classe.</label>
        </div>
    </div>
    
    <div class="row mb-3">
        <div class="col">
            <div class="custom-switch">
            {% if app.request.attributes.get('_route') == 'agenda_edit_event' %}
                {{ form_widget(form.switch, {'attr': {'class': 'form-check-input', 'checked': event.students is not empty}}) }}
            {% else %}
                {{ form_widget(form.switch) }}
            {% endif %}
            {{ form_label(form.switch) }}
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            {{ form_row(form.studentClass) }}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            {{ form_row(form.students) }}
        </div>
    </div>

    {% if form.comment is defined %}
        <div class="row mb-3">
            <div class="col">
                {{ form_row(form.comment) }}
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col">
            <button class="btn btn-primary">{{ button_label|default('Sauvegarder') }}</button>
        </div>
    </div>
</div>

{{ form_row(form.reservedRooms, {'attr': {'style': 'display: none;'}}) }}


{{ form_end(form) }}
