{% extends 'base.html.twig' %}

{% block title %}Emploi du temps{% endblock %}

{% block stylesheets %}
<style>
        .event-icon-header {
            font-size: 24px;
        }
        .event-start {
            color: green;
        }
        .event-end {
            color: red;
        }
        .event-icon{
            font-size: 18px;
        }
        .modal-backdrop.first-modal {
            background-color: rgba(0, 0, 0, 0.5);
        }
    </style>
{% endblock %}


{% block content %}
    {% if is_granted('ROLE_TEACHER') %}
        <a href="{{ path('agenda_create_event') }}" class="btn btn-primary float-end ms-1 mt-n1"><i class="bi bi-plus"></i> Ajouter un évènement</a>
    {% endif %}
    <a href="{{ path('agenda_export_calendar_download') }}" class="btn btn-success float-end me-1 mt-n1"><i class="bi bi-download"></i> Télécharger le calendrier</a>

    <h1 class="h3 mb-3">Agenda</h1>
    <div class="card">
        <div class="card-body">
            <div id="calendar"></div>
        </div>
    </div>

    <!-- Ajoutez l'élément HTML de la modal ici -->
    <div>
        <div class="modal fade first-modal" id="event-modal-details" tabindex="-1" role="dialog" aria-labelledby="event-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="event-modal-label"></h5>
                        {% if is_granted('ROLE_TEACHER') %}
                            <div class="ms-auto">
                                <a href="#" class="btn btn-link edit-event me-2" data-event-id=""><i class="bi bi-pencil event-icon-header"></i></a>
                                <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="bi bi-trash event-icon-header"></i></button>
                            </div>
                        {% endif %}
                        <button type="button" class="btn btn-link ms-2" data-bs-dismiss="modal" aria-label="Fermer"><i class="bi bi-x event-icon-header"></i></button>
                    </div>
                    <div class="modal-body">
                        <p class="card-text"><i class="bi bi-circle-fill event-icon event-start"></i> <strong>Date de début : </strong><span id="event-start"></span></p>
                        <p class="card-text"><i class="bi bi-circle-fill event-icon event-end"></i> <strong>Date de fin : </strong><span id="event-end"></span></p>
                        <p class="card-text" id="event-room"></p>
                        <p class="card-text"><i class="bi bi-person event-icon"></i> <strong>Professeur : </strong><span id="event-teacher"></span></p>
                        <ul id="event-students" class="list-unstyled"></ul>
                        <p id="event-programmes" class="card-text"></p>
                        <p id="event-lecons" class="card-text"></p>
                        <hr>
                        <p class="card-text" id="commentaireObjectif"></p>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-primary export-event" data-event-id="">Exporter pour un Calendrier</a>
                        <a href="#" class="btn btn-dark add-delay" data-event-id="">Ajouter un retard</a>
                        <a href="#" class="btn btn-info add-absence" data-event-id="">Ajouter une absence</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de confirmation de suppression -->
    <div class="modal fade" id="deleteModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered w-75 h-75">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirmation de suppression</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Êtes-vous sûr de vouloir supprimer cet événement ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <a href="#" class="btn btn-danger delete-event" data-event-id="">Supprimer</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/@fullcalendar/bootstrap5@6.1.8/index.global.min.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var pastDate = new Date();
            pastDate.setMonth(pastDate.getMonth() - 3);

            var calendar = new FullCalendar.Calendar(calendarEl, {
                themeSystem: 'bootstrap5',
                initialView: 'dayGridMonth',
                locale: 'Fr',
                firstDay: 1,
                allDaySlot: false,
                navLinks: true,
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    end: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                },
                views: {
                    dayGridMonth: {
                        dayHeaderFormat: { weekday: 'short' },
                        titleFormat: { year: 'numeric', month: 'long' },
                        eventDisplay: 'block',
                        eventContent: function(arg) {
                            return {
                                html: '<div class="fc-event-title">' + arg.event.title + '</div><div class="fc-event-time">' + formatTime(arg.event.start) + ' - ' + formatTime(arg.event.end) + '</div>'
                            };
                        }
                    },
                    timeGridWeek: {
                        dayHeaderFormat: { weekday: 'short' }
                    },
                    timeGridDay: {
                        dayHeaderFormat: { weekday: 'long' },
                        eventContent: function(arg) {
                            console.log(arg.event);
                            return {
                                html: '<div class="fc-event-title">' + arg.event.title + '</div><div class="fc-event-details">' + arg.event.extendedProps.teacher + '</div>'
                            };
                        }
                    }
                },
                buttonText:{
                    today: 'Aujourd\'hui',
                    month: 'Mois',
                    week: 'Semaine',
                    day: 'Jour',
                    list: 'Liste'
                },
                extraParams: function() {
                    return {
                        start: pastDate.toISOString(), // Date de début pour les événements passés
                    };
                },
                nowIndicator: true,
                events: {{ jsonEvents|raw }},
                eventClick: function(info) {
                    var eventId = info.event.id;
                    $.ajax({
                        url: '{{ path('agenda_get_event_details') }}',
                        type: 'POST',
                        data: { eventId: eventId },
                        dataType: 'json',
                        success: function(response) {
                            var event = response.event;
                            // Mettre à jour les informations de l'événement dans la modal
                            $('#event-modal-label').text(event.title);
                            $('#event-title').text(event.title);
                            $('#event-start').text(event.start);
                            $('#event-end').text(event.end);
                            $('.edit-event').attr('data-event-id', event.id);
                            $('.delete-event').attr('data-event-id', event.id);
                            $('.export-event').attr('data-event-id', event.id);
                            $('.add-delay').attr('data-event-id', event.id);
                            $('.add-absence').attr('data-event-id', event.id);
                            $('#event-teacher').text(event.teacher);

                            // Ajouter la classe ou la liste d'élève
                            $('#event-students').empty(); // Vide le contenu de #event-students
                            if (event.studentClass) {
                                addEventDetail('<i class="bi bi-card-list event-icon"></i> <strong>Classe : </strong>' + event.studentClass);
                            } else if (event.students && event.students.length > 0) {
                                addEventDetail('<i class="bi bi-people event-icon"></i> <strong>Élèves : </strong>');
                                event.students.forEach(function(student) {
                                    addEventDetail(student);
                                });
                            } else {
                                addEventDetail('Aucun élève');
                            }
                            function addEventDetail(detail) {
                                var eventStudents = $('#event-students');
                                if (!eventStudents.find('.event-detail:contains("' + detail + '")').length) {
                                    $('<li>').addClass('event-detail').html(detail).appendTo(eventStudents);
                                }
                            }

                            // Afficher les informations de la salle de classe
                            if (event.room) {
                                $('#event-room').html('<i class="bi bi-geo-alt event-icon"></i> <strong>Salle de classe : </strong>' + event.room);
                            }                            
                            // Afficher le lien Zoom
                            if (event.zoomlink) {
                                $('#event-room').html('<i class="bi bi-link event-icon"></i> <strong> <a href="' + event.zoomlink +'" target="_blank">Lien Zoom </a> </strong>');
                            }

                            $('#event-programmes').empty();
                            if (event.programmes  && event.programmes.length > 0) {
                                addProgramme('<strong>Programmes : </strong>' + event.programmes.map(function(programme) {
                                    return '<a href="/programmes/' + programme.slug + '">' + programme.nom + '</a>';
                                }).join(', '));
                            } else {
                                addProgramme('Aucun programme affilié au cours')
                            }
                            function addProgramme(detail) {
                                var eventProgrammes = $('#event-programmes');
                                eventProgrammes.html(detail);
                            }

                            $('#event-lecons').empty();
                            if (event.lecons && event.lecons.length > 0) {
                                addLecons('<strong>Leçons : </strong>' + event.lecons.map(function(lecon) {
                                    return '<a href="/lecons/' + lecon.slug + '">' + lecon.nom + '</a>';
                                }).join(', '));
                            } else {
                                addLecons('Aucune leçon affilié au cours')
                            }
                            function addLecons(detail) {
                                var eventLecons = $('#event-lecons');
                                eventLecons.html(detail);
                            }


                            if (event.commentaire) {
                                addCommentaire('<i class="bi bi-chat-dots"></i> <strong>Commentaire : </strong> ' + event.commentaire)
                            } else if (event.objectif) {
                                addCommentaire('<i class="bi bi-chat-dots"></i> <strong>Objectif : </strong> ' + event.objectif)
                            } else {
                                addCommentaire('<i class="bi bi-chat-dots"></i> <strong>Aucun objectif ou commentaire pour le prochain cours</strong> ')
                            }
                            function addCommentaire(detail) {
                                var eventComObj = $('#commentaireObjectif');
                                eventComObj.html(detail);
                            }
                            

                            // Afficher la modal
                            $('#event-modal-details').modal('show');
                        },
                    });
                }
            });

            calendar.render();

            var urlParams = new URLSearchParams(window.location.search);
            var viewParam = urlParams.get('view');

            // Changez la vue en ListView si le paramètre "view" est "list"
            if (viewParam === 'list') {
                calendar.changeView('listWeek');
            }
        });

        function formatTime(time) {
            return time.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });
        }

        $(document).on('click', '.edit-event', function(e) {
            e.preventDefault();
            var eventId = $(this).attr('data-event-id');
            var editUrl = '{{ path('agenda_edit_event', {'id': 'eventId'}) }}';
            editUrl = editUrl.replace('eventId', eventId);
            window.location.assign(editUrl);
        });

        $(document).on('click', '.export-event', function(e) {
            e.preventDefault();
            var eventId = $(this).attr('data-event-id');
            var exportUrl = '{{ path('agenda_export_event', {'id': 'eventId'}) }}';
            exportUrl = exportUrl.replace('eventId', eventId);
            window.location.assign(exportUrl);
        });

        $(document).on('click', '.add-delay', function(e) {
            e.preventDefault();
            var idEvent = $(this).attr('data-event-id');
            var delayURL = '{{ path('delay_create', {'eventId': 'idEvent'}) }}';
            delayURL = delayURL.replace('idEvent', idEvent);
            window.location.assign(delayURL);
        });

        $(document).on('click', '.add-absence', function(e) {
            e.preventDefault();
            var idEvent = $(this).attr('data-event-id');
            var absenceUrl = '{{ path('absence_event_create', {'eventId': 'idEvent'}) }}';
            absenceUrl = absenceUrl.replace('idEvent', idEvent);
            window.location.assign(absenceUrl);
        });
        
        $(document).on('click', '.delete-event', function(e) {
            e.preventDefault();
            var eventId = $(this).attr('data-event-id');
            var deleteUrl = '{{ path('agenda_delete_event', {'id': 'eventId'}) }}';
            deleteUrl = deleteUrl.replace('eventId', eventId);
            window.location.assign(deleteUrl);
        });

        $('#deleteModal').on('show.bs.modal', function () {
            $('.first-modal').addClass('modal-backdrop');
        });

        $('#deleteModal').on('hidden.bs.modal', function () {
            $('.first-modal').removeClass('modal-backdrop');
        });




    </script>
{% endblock %}
