{% extends 'base.html.twig' %}

{% block title %}Ajouter une Note{% endblock %}

{% block stylesheets %}
{% endblock %}


{% block content %}
    <h1 class="h3 mb-3">Ajouter une note</h1>

    {{ form_start(form) }}
    
    {{ form_row(form.note)}}
    
    {{ form_row(form.date)}}
    

    {{ form_row(form.coefficient) }}
    {{ form_row(form.user) }}
    {{ form_row(form.matiere) }}

    
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
<script src = "https://cdn.jsdelivr.net/npm/flatpickr"> </script> 
<script src = "https://npmcdn.com/flatpickr/dist/l10n/fr.js" > </script> 
    <script>
    document.ready
    $(document).ready(function() {
        flatpickr('.datetimepickr', {
			dateFormat: "Y-m-d H:i",
		});
    })
    </script>
{% endblock %}