{% extends 'admin.html.twig' %}

{% block title %}Liste des absences{% endblock %}

{% block content %}
    <a href="{{ path('admin_liste_absence_create') }}" class="btn btn-primary float-end">Ajouter une absence</a>

    <h1 class="h3 mb-3">Liste des absences</h1>
    <div class="container my-5">
        <div class="card">
            <div class="card-body">
                {% if absence is not empty %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date de l'absence</th>
                                <th>Élève</th>
                                <th>Cours concerné</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for absenceItem in absence %}
                                <tr>
                                    <td>{{ absenceItem.absenceDate|format_datetime('full', 'short', locale='fr') }}</td>
                                    <td>{{ absenceItem.student.UserIdentifier }}</td>
                                    <td>{{ absenceItem.event.getTitle() }}</td>
                                    <td>
                                        <a href="#" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ absenceItem.id }}">
                                            <i class="bi bi-trash "></i> Supprimer
                                        </a>
                                        <a href="{{ path('admin_liste_absence_edit', {'absenceId': absenceItem.id}) }}" class="btn btn-outline-primary">
                                            <i class="bi bi-pencil"></i> Modifier
                                        </a>
                                    </td>
                                </tr>
                                <!-- Modal de confirmation de suppression pour chaque absence -->
                                <div class="modal fade" id="deleteModal{{ absenceItem.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteModalLabel{{ absenceItem.id }}" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteModalLabel{{ absenceItem.id }}">Confirmation de suppression</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Êtes-vous sûr de vouloir supprimer cette absence ?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                                <a href="{{ path('admin_liste_absence_delete', {'absenceId': absenceItem.id}) }}" class="btn btn-danger">Supprimer</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>Aucune absence trouvée.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
