{% extends is_granted('ROLE_ADMIN') ? 'admin.html.twig' : 'base.html.twig' %}

{% block title %}Modifier son mot de passe{% endblock %}

{% block content %}
    <h1>Modifier le mot de passe</h1>
    <a href="{{ path('users') }}">Retourner sur son compte</a><br><br>
    Bienvenue {{ app.user.firstname }} dans votre espace modification de mot de passe.<br>

    {% if notification_miss %}
        <div   class="alert alert-danger">{{ notification_miss }}</div>
    {% endif %}
    {% if notification_good %}
        <div class="alert alert-success">{{ notification_good }}</div>
    {% endif %}
    <hr>
        {{ form(form) }}
    <hr>
{% endblock %}
