{% extends 'base.html.twig' %}

{% block title %}{{ article.title }} - Actus{% endblock %}

{% block stylesheets %}
<style>
    /* Styles personnalisés pour les badges */
    .badge {
        padding: 6px 12px;
        border-radius: 5px;
        font-size: 0.85rem;
        font-weight: 600;
    }

    .badge.badge-primary {
        background-color: #007bff;
    }

    /* Badge Secondary */
    .badge.badge-secondary {
        background-color: #6c757d;
    }

    /* Lorsque le badge est survolé */
    .badge:hover {
        background-color: green;
        color: #fff;
        cursor: pointer;
    }
</style>
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-lg-8">
            <div class="card mb-4">
                <img src="{{ asset('/uploads/articles/' ~ article.illustrations)|imagine_filter('banniere') }}" class="card-img-top" alt="{{ article.illustrations }}">
                <div class="card-body">
                    <h1 class="card-title">{{ article.title }}</h1>
                    <div class="card-text">
                        {{ article.content|raw }}
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Partagez avec vos amis</h3>
                    <div class="d-flex justify-content-center">
                        <div class="d-flex justify-content-center">
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.schemeAndHttpHost ~ app.request.requestUri }}" class="btn btn-primary me-2" target="_blank"><i class="bi bi-facebook"></i> Facebook</a>
                        <a href="https://twitter.com/intent/tweet?url={{ app.request.schemeAndHttpHost ~ app.request.requestUri }}" class="btn btn-info me-2" target="_blank"><i class="bi bi-twitter"></i> Twitter</a>
                        <a href="https://www.linkedin.com/shareArticle?url={{ app.request.schemeAndHttpHost ~ app.request.requestUri }}" class="btn btn-dark" target="_blank"><i class="bi bi-linkedin"></i> LinkedIn</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title">Écrit par</h4>
                    <p class="card-text">{{ article.users.firstname }} {{ article.users.lastname }}</p>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title">Catégorie</h4>
                    <p class="card-text">
                    {% if article.categories is not null %}
                            <a href="{{ path('actualites_home') }}?categories={{article.categories.id}}&page=1" class="badge badge-primary">{{ article.categories }}</a>
                    {% else %}
                        Aucune catégorie
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title">Date de publication</h4>
                    <p class="card-text">{{ article.createdAt|date }}</p>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <h2 class="mb-0">Vous aimerez aussi</h2>
                </div>
                <div class="card-body">
                {% if similarArticles|length == 0 %}
                    <p>Aucun articles similaires</p>
                {% else %}
                    {% for similarArticle in similarArticles %}
                        <div class="mb-4">
                            <h6><a href="{{ path('actualites_details', {'slug': similarArticle.slug}) }}">{{ similarArticle.title }}</a></h6>
                            <p class="mb-1">{{ similarArticle.content|striptags|slice(0,97) ~ '...' }}</p>
                            <p class="text-1000">Catégorie :
                                <a href="{{ path('actualites_home') }}?categories={{similarArticle.categories.id}}&page=1" class="badge badge-secondary">{{ similarArticle.categories }}</a>
                            </p>
                        </div>
                    {% endfor %}
                {% endif %}

                </div>
                <div class="card-footer bg-light p-0 border-top">
                    <a class="btn btn-link d-block w-100" href="{{ path('actualites_home') }}">
                        Tous les articles
                        <span class="bi bi-chevron-right ms-1 fs--2"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
