{% extends 'base.html.twig' %}

{% set queryParams = app.request.query.all %}

{% block title %}Actualités - Atempo Education{% endblock %}

{% block content %}
    <h1 class="h3 mb-3">Actualités</h1>

    <form id="filters">
        {% for categorie in categories %}
            {# On vérifie si la catégorie est dans les paramètres #}
            {% if queryParams is not empty and queryParams.categories is defined %}
                {% set checked = (categorie.id in queryParams.categories) ? "checked" : "" %}
            {% else %}
                {% set checked = "" %}
            {% endif %}
            <input type="checkbox" autocomplete="off" name="categories" id="cat{{categorie.id}}" value="{{categorie.id}}" class="btn-check" {{checked}}>
            <label for="cat{{categorie.id}}" class="btn btn-lg btn-primary">{{categorie.name}}</label>
        {% endfor %}
            <input type="hidden" name="page" value="{{ page }}">
    </form>
    <br>
        <div class="row row-cols-1 row-cols-md-2 g-4" id="actualitesFiltre">
            {% include "actualites/_content.html.twig" %}
        </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/Actualityfilters.js') }}"></script>
{% endblock %}




